body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 252);
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333;
}
.text-light {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.change-theme[data-theme="dark"]{
    display: block;
}

.change-theme[data-theme="light"]{
    display: none;
}


.itd_play {
    background-color: var(--color1);
   
}

.player-content{
    border: 1px var(--color1) solid;
}

.itd_play:hover {
    background-color: var(--color2);
}

.itd_triangle {
 
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
   
    color: var(--bs-white);
    background-color: var(--color2);

}

.btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}


.forwhom h5{
    border:3px solid var(--color1);
}

/* Інформація */

.info{
background-color: #eee;
}

.card{
    border-color: #e2e2e2;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(76,75,78,0.49); 
    box-shadow: 0px 0px 6px 2px rgba(76,75,78,0.49);    border-radius: 0.9rem;
}

/* Друзі */

.friend-block{

    -webkit-box-shadow: 1px 3px 15px 5px #6D6D6D; 
box-shadow: 1px 3px 15px 5px #6D6D6D;
}

.friends{
    border: 1px solid var(--color1);
}

/* Про курс */
.about {
    background-color: #eee;

}

.about i {
    color: var(--color2);

}

.itd_circle {

    border: 3px solid var(--color2);

}
.line{
   
    background-color: var(--color1);
}

/* Колір */
.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.value{
    color: var(--color2);
}

.border-first{
    border-color: var(--color1);
}
.border-second{

        --bs-border-opacity: 1;
        border-color: rgba(var(--color2), var(--bs-border-opacity)) !important;
}

.btn-outline-1 {
    --bs-btn-color: var(--color1);
    --bs-btn-border-color: var(--color1);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color1);
    --bs-btn-hover-border-color: var(--color1);
    --bs-btn-focus-shadow-rgb: 13,202,240;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color1);
    --bs-btn-active-border-color: var(--color1);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color1);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}
.btn-outline-2 {
    --bs-btn-color: var(--color2);
    --bs-btn-border-color: var(--color2);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color2);
    --bs-btn-hover-border-color: var(--color2);
    --bs-btn-focus-shadow-rgb: 13,202,240;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color2);
    --bs-btn-active-border-color: var(--color2);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color2);
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}